/* card */
.curiosities-card-container{
    width: 364px;
    height: 214px;
    background-color: #16191F;
    border-radius: 8px;
    padding: 16px;
    cursor: pointer;
        display: flex;
    flex-direction: column;
}

.main-info{
    display: flex;
    column-gap: 28px;
    height: 50px;
}

/* icon */



/* title */
.cc-title{
    font-size: 1.2rem;
}

/* description */
.cc-description{
    font-size: 1rem;
    height: 38px;
    color:  #808797;
}

/* numbers */
.cc-total{
    height: 50px;
    padding-top: 8px;
    color:  #808797;
}

.txt-orange{
    color: #F6A823;
    text-shadow: 0 0 2px rgba(246, 168, 35, 0.8), 0 0 10px rgba(246, 168, 35, 0.5);
    font-size: 1.5rem;
    font-weight: 700;
}

.rate-per-second{
    font-size: 0.8rem;
    padding-top: 6px;
}

/*********** graph ***********/
.graph{
    background-color: blueviolet;
    width: 100%;
    height: 50px;
    margin-top: 12px;
    border-radius: 8px;
}