/* card */
.curiosities-card-container{
    width: 364px;
    height: 248px;
    background-color: #16191F;
    border-radius: 8px;
    padding: 16px;
    cursor: pointer;
        display: flex;
    flex-direction: column;
}

.main-info{
    display: flex;
    column-gap: 28px;
    height: 76px;
}

/* title */
.cc-title{
    font-size: 1.2rem;
}

/* description */
.cc-description{
    font-size: 1rem;
    height: 38px;
    color:  #808797;
}

/* numbers */
.cc-total{
    height: 50px;
    color:  #808797;
}

/* orange txt */
.txt-orange{
    color: #F6A823;
    text-shadow: 0 0 2px rgba(246, 168, 35, 0.8), 0 0 10px rgba(246, 168, 35, 0.5);
    font-size: 1.5rem;
    font-weight: 700;
}

.cc-number {
  font-size: 2.2rem;
  font-weight: 700;
  color: #ffb33e;
  text-shadow: 0 0 8px rgba(255, 179, 62, 0.6);
}

.cc-unit {
  font-size: 1rem;
  font-weight: 500;
  color: #ffcc80;
  opacity: 0.9;
}

.cc-total-suffix {
  font-weight: 600;
  margin-right: 4px;
}


/* RATE PER SECOND  +XX/sec */
.rate-per-second{
    font-size: 0.8rem;
    padding-top: 6px;
}

/*********** graph ***********/
.graph{
    background-color: blueviolet;
    width: 100%;
    height: 50px;
    margin-top: 12px;
    border-radius: 8px;
}