/*************************************************
    GENERAL RULES CSS
 *************************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   font-family: "Montserrat", sans-serif;
   color:#d1d5db;
}


/* 

**font
font-family: "Montserrat Alternates", sans-serif;

_________________
**colors
orange:  #F6A823;

light grey: #d1d5db;

grey: #808797;
_________________
*/


.main-page {
  position: relative;
  min-height: 100vh;
  background: #0E1115;
  color: #f9fafb;
  overflow: hidden;
}

/* background */
.particle-background {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
  opacity: 0.6;
}

/* content above */
.page-content {
  position: relative;
  z-index: 1;
  width: 80%;
  margin: 0 auto;
  padding: 40px 16px 64px;
  /* background-color: aquamarine; */
}


/* reusable txt */
h3{
    font-size: 2rem;
    margin-top: 64px;
    /* font-family: "Montserrat Alternates", sans-serif; */
}

h4{
    font-size: 1rem;
    font-weight: 300;
    margin-top: 8px;
    color: #808797
}